mixin footer()
    //- footer
    footer(class="page__footer footer")
        div(class="footer__container _container") 
            div(class="footer__title") Статьи каждую неделю
            div(class="footer__text") Больше 90% учеников прошли полный курс и смогли <br> собрать свой первый компьютер
                
            div(class="footer__block")
                div(class="footer__input")
                    input(type="text" placeholder="E-mail") 
                
                div(class="footer__button") 
                    a(class="footer__button-link" href="") Подписаться
                    

            div(class="footer__icons")
                div(class="footer__icon")
                    a(class="footer__icon-link _icon-networks-vk" href="")
                div(class="footer__icon")
                    a(class="footer__icon-link _icon-networks-youtube" href="")
                div(class="footer__icon")
                    a(class="footer__icon-link _icon-networks-facebook" href="")
                div(class="footer__icon")
                    a(class="footer__icon-link _icon-networks-instagram" href="")
            
            div(class="footer__info")
                p(class="footer__info-text") Dezigned by Pavel Dvoryaninov
                p(class="footer__info-text") Templates #18. More on Figma.info
