mixin main-block()
    //- main-block
    section(class="page__main-block main-block")
        div(class="main-block__container _container") 
            div(class="main-block__image _ibg")
                img(src="./assets/images/main-screen.png" alt="cover")

            div(class="main-block__body")
                h1(class="main-block__title") Первый курс <br> по компьютерной сборке

                div(class="main-block__time")
                    div(class="main-block__items")
                        div(class="main-block__item")
                            div(class="main-block__digit days__digit") 18
                            div(class="main-block__word days__word") Дней
                        div(class="main-block__item")
                            div(class="main-block__digit hours__digit") 20
                            div(class="main-block__word hours__word") Часов
                    div(class="main-block__items")
                        div(class="main-block__item")
                            div(class="main-block__digit minutes__digit") 22
                            div(class="main-block__word minutes__word") Минуты
                        div(class="main-block__item")
                            div(class="main-block__digit seconds__digit") 32
                            div(class="main-block__word seconds__word") Секунды


mixin last-line()
    //- last-line
    section(class="page__last-line last-line")
        div(class="last-line__container _container")
            div(class="last-line__button")
                a(href="" class="last-line__link") Заказать курс

            div(class="last-line__info")

                div(class="last-line__pupils") 
                    div(class="last-line__pupils-block")
                        div(class="last-line__pupils-text") Учеников всего: 
                        div(class="last-line__pupils-digit") 200
                    div(class="last-line__pupils-block")
                        div(class="last-line__pupils-text") Успешно закончили курс:
                        div(class="last-line__pupils-digit") 190

                div(class="last-line__money")
                    div(class="last-line__money-block")
                        div(class="last-line__money-text") Заработано учениками:
                        div(class="last-line__money-digit") 400 000P
                    
                    div(class="last-line__money-block-progress")
                        div(class="last-line__money-progress")
                        
                    div(class="last-line__money-block")
                        div(class="last-line__money-volume-text") 0
                        div(class="last-line__money-volume-text") 1 000 000P

mixin about()
    //- about 
    section(class="page__about about")
        div(class="about__container _container")
            div(class="about__image")
                img(src="./assets/images/pc.png" alt="pc")
            div(class="about__info")
                h3(class="about__title") Чем мы занимаемся?
                p(class="about__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget neque, dignissim et feugiat elit augue in suspendisse egestas. Dictum vestibulum mi et sed nunc, orci fermentum vestibulum, morbi. Et neque, adipiscing sapien sem senectus praesent aenean consequat. Aenean facilisi turpis aliquet fringilla. Nunc sem felis sed interdum feugiat mattis elit, sollicitudin. Quam pharetra rhoncus risus, cursus id elementum aliquet. Nullam turpis arcu malesuada arcu interdum placerat nisi, lobortis. 

mixin start()
    //- start
    section(class="page__start start")
        div(class="start__container _container")
            div(class="start__title")
                div(class="start__ellipse")
                    div(class="ellipse _deg45")
                        div(class="ellipse__div1")
                        div(class="ellipse__div2")
                        div(class="ellipse__div3")

                div(class="start__title-block")
                    h3(class="start__title-text") Быстрый старт
            
            div(class="start__info")
                p(class="start__info-text") Больше 90% учеников прошли полный курс и смогли <br> собрать свой первый компьютер
            
            div(class="start__items")
                div(class="start__item")
                    h3(class="start__item-title") 100%
                    div(class="start__item-block") 
                        div(class="start__item-block-1")
                    p(class="start__item-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
                
                div(class="start__item")
                    h3(class="start__item-title") 75%
                    div(class="start__item-block") 
                        div(class="start__item-block-2")
                    p(class="start__item-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.

                div(class="start__item")
                    h3(class="start__item-title") 50%
                    div(class="start__item-block") 
                        div(class="start__item-block-3")
                    p(class="start__item-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.

                div(class="start__item")
                    h3(class="start__item-title") Итог
                    div(class="start__item-block") 
                        div(class="start__item-block-4")
                    p(class="start__item-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.

mixin advantages()
    //- advantages
    section(class="page__advantages advantages")
        div(class="advantages__container _container")
            div(class="advantages__title")
                h3(class="advantages__title-text") Получите профессию прямо сейчас
            
            div(class="advantages__items")
                div(class="advantages__item")
                    div(class="advantages__image")
                        span(class="_icon-icon-1")
                    h3(class="advantages__item-title") Только практические навыки в работе
                
                    p(class="advantages__item-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.

                div(class="advantages__item")
                    div(class="advantages__image")
                        span(class="_icon-icon-2")
                    h3(class="advantages__item-title") Только практические навыки в работе
                    
                    p(class="advantages__item-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.

                div(class="advantages__item")
                    div(class="advantages__image")
                        span(class="_icon-icon-3")
                    h3(class="advantages__item-title") Только практические навыки в работе
                    
                    p(class="advantages__item-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.

mixin partners()  
    //- partners
    section(class="page__partners partners")
        div(class="partners__container _container")
            div(class="partners__title")
                div(class="partners__ellipse")
                    div(class="ellipse _deg225")
                        div(class="ellipse__div1")
                        div(class="ellipse__div2")
                        div(class="ellipse__div3")

                div(class="partners__title-block")
                    h3(class="partners__title-text") Партнеры - топовые бренды
            
            div(class="partners__items")
                div(class="partners__border")

                div(class="partners__item")
                    img(src="./assets/images/vender.png" alt="")
                div(class="partners__item")
                    img(src="./assets/images/vender.png" alt="")
                div(class="partners__item")
                    img(src="./assets/images/vender.png" alt="")
                div(class="partners__item")
                    img(src="./assets/images/vender.png" alt="")
                div(class="partners__item")
                    img(src="./assets/images/vender.png" alt="")
                div(class="partners__item")
                    img(src="./assets/images/vender.png" alt="")
                div(class="partners__item")
                    img(src="./assets/images/vender.png" alt="")
                div(class="partners__item")
                    img(src="./assets/images/vender.png" alt="")

mixin program()
    //- program   
    section(class="page__program program")
        div(class="program__container _container")  
            div(class="program__title")
                div(class="program__ellipse")
                    div(class="ellipse _deg180")
                        div(class="ellipse__div1")
                        div(class="ellipse__div2")
                        div(class="ellipse__div3")
                div(class="program__info")    
                    h3(class="program__info-title") Программа обучения
                    p(class="program__info-text") Больше 90% учеников прошли полный курс и смогли <br> собрать свой первый компьютер
            
            div(class="program__timeline timeline")
                div(class="timeline__side-left")
                    div(class="timeline__item")
                        div(class="timeline__content_left")
                            div(class="timeline__title") Неделя №1
                            div(class="timeline__text") Красивая часть курса, которая помогает в успехе
                        div(class="timeline__line")              
                    div(class="timeline__item")
                        div(class="timeline__content_left")
                            div(class="timeline__title") Неделя №3
                            div(class="timeline__text") Красивая часть курса, которая помогает в успехе
                        div(class="timeline__line")

                    div(class="timeline__item")
                        div(class="timeline__content_left")
                            div(class="timeline__title") Неделя №5
                            div(class="timeline__text") Красивая часть курса, которая помогает в успехе
                        div(class="timeline__line")

                    div(class="timeline__item")
                        div(class="timeline__content_left")
                            div(class="timeline__title") Неделя №7
                            div(class="timeline__text") Красивая часть курса, которая помогает в успехе
                        div(class="timeline__line")

                div(class="timeline__side-line")

                div(class="timeline__side-right")
                    div(class="timeline__item")
                        div(class="timeline__line")
                        div(class="timeline__content_right")
                            div(class="timeline__title") Неделя №2
                            div(class="timeline__text") Красивая часть курса, которая помогает в успехе

                    div(class="timeline__item")
                        div(class="timeline__line")
                        div(class="timeline__content_right")
                            div(class="timeline__title") Неделя №4
                            div(class="timeline__text") Красивая часть курса, которая помогает в успехе
                    
                    div(class="timeline__item")
                        div(class="timeline__line")
                        div(class="timeline__content_right")
                            div(class="timeline__title") Неделя №6
                            div(class="timeline__text") Красивая часть курса, которая помогает в успехе

mixin teachers()
    //- teachers
    section(class="page__teachers teachers")
        div(class="teachers__container _container") 
            div(class="teachers__title") 
                div(class="teachers__ellipse")
                    div(class="ellipse")
                        div(class="ellipse__div1")
                        div(class="ellipse__div2")
                        div(class="ellipse__div3")

                div(class="teachers__title-block")
                    h3(class="teachers__title-text") Ваши преподаватели
            
            div(class="teachers__items")
                div(class="teachers__item")
                    div(class="teachers__avatar")
                        img(src="./assets/images/name_1.jpg")
                    div(class="teachers__name")
                        h3(class="teachers__name-text") Дмитрий Иванов
                    div(class="teachers__spec")
                        p(class="teachers__spec-text") Специалист по видеокартам
                    div(class="teachers__button") 
                        a(class="teachers__button-link" href="") Биография

                div(class="teachers__item")
                    div(class="teachers__avatar")
                        img(src="./assets/images/name_2.jpg")
                    div(class="teachers__name")
                        h3(class="teachers__name-text") Дмитрий Иванов
                    div(class="teachers__spec")
                        p(class="teachers__spec-text") Специалист по видеокартам
                    div(class="teachers__button") 
                        a(class="teachers__button-link" href="") Биография

                div(class="teachers__item")
                    div(class="teachers__avatar")
                        img(src="./assets/images/name_3.jpg")
                    div(class="teachers__name")
                        h3(class="teachers__name-text") Дмитрий Иванов
                    div(class="teachers__spec")
                        p(class="teachers__spec-text") Специалист по видеокартам
                    div(class="teachers__button") 
                        a(class="teachers__button-link" href="") Биография